*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #777;
}

.blue-text{
	color: #3498db;
	font-weight: 400;
}

a{
	text-decoration: none;
}

article a{
	color: #1abc9c;
}

article a:hover{
	font-weight: 400;
	text-decoration: underline;
}




/* ---------------------------------------- OCTICONS ----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'octicons';
  src: url('octicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

*/
.octicon, .mega-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mega-octicon { font-size: 32px; }

.octicon-mark-github:before { content: '\f00a'} /*  */
.octicon-octoface:before { content: '\f008'} /*  */
.octicon-zap:before { content: '\26A1'} /* ⚡ */




/* ------------------------------------------------ BUTTONS ------------------------------------------------ */
/*-----------------------------------------------------------------------------------------------------------*/

button{
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    border: 1px solid;
    border-radius: 5px;
    color: inherit;

	font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 300;

    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.example-button{
	padding: 10px 20px;
	background-color: #1abc9c;
	border-color: #1abc9c;
	color: #FFF;
	font-weight: 400;
	text-transform: uppercase;
}

.close-button{
	padding: 4px 6px;
	font-weight: 400;
	color: #fff;
	background-color: #e74c3c;
	border-color: #e74c3c;
}

.close-button:hover{
	background-color: #c0392b;
	border-color: #c0392b;
}

.example-button:hover{
	background-color: #16a085;
	border-color: #16a085;
}



.center{
	text-align: center;
}

.right{
	text-align: right;
}





/* ------------------------------------------------ HEADER ------------------------------------------------ */
/*-----------------------------------------------------------------------------------------------------------*/

header{

	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction:column;
			flex-direction:column;

	-webkit-align-items:center;
			align-items:center;

	-webkit-justify-content: center;
			justify-content: center;

	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;

	background-color: #ecf0f1;
}

header h1{
	font-weight: 300;
	font-size: 5em;
	color: #3498db;
}

header p{
	font-size: 1.5em;
	margin-bottom: 40px;
}

header button{
	padding: 8px 22px;

	font-size: 1.3em;
	font-weight: 300;
	text-transform: uppercase;

	background-color: #3498db;
	border-color: #3498db;
	color: #fff;
}

header button .octicon{
	font-size: inherit;
}

header button:nth-of-type(1){
	margin-right: 10px;
}

header button:hover{
	border-color: #34B7DC;
	background-color: #34B7DC;
}





/* ----------------------------------------- CODE AND COD BLOCKS ----------------------------------------- */
/*----------------------------------------------------------------------------------------------------------*/

code, pre{
	font-family: 'Inconsolata', 'Open Sans', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	background-color: #ecf0f1;
	color: #888;
}

code{
	padding: 3px 5px;
	border-radius: 5px;
}

pre code{
	/* use only pre styles for code blocks */
	padding: 0px;
	border-radius: 0px;
	max-width: 100%;
	word-wrap: break-word;
}


pre{
	line-height: 1.1em;
	border-radius: 8px;

	padding: 20px;

	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}






/* --------------------------------------------- MAIN CONTENT --------------------------------------------- */
/*----------------------------------------------------------------------------------------------------------*/


.main-wrapper{
	position: relative;

	/*its top value is applied by JS
	to be equal to height of the header
	which is equal to that of the viewport*/

	/*without this header won't appear collapsing*/
	background-color: #fff;
}

.content{
	max-width: 650px;
	margin: 0px auto;
	padding-top: 50px;
}


h2{
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	color: #3498db;

	margin-bottom: 20px;
}

h4{
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;

	margin-bottom: 15px;
}

article p{
	line-height: 1.5em;
	margin-bottom: 10px;
}

hr{
	font-weight: 300;
	color: #F5F9FA;
}

section{
	margin-bottom: 40px;
}

section p{
	margin-bottom: 20px;
}


footer{
	margin-top: 40px;
	padding: 10px 0px;
	background-color: #ecf0f1;
}

footer p:nth-of-type(1) {
	margin-bottom: 10px;
}

footer a{
	color: inherit;
	transition: color 0.2s ease-in-out;
}

footer a:hover{
	color: #3498db;
}
	





/* ------------------------------------------EXAMPLE MODALS STYLES------------------------------------------ */
/*------------------------------------------------------------------------------------------------------------*/

img{
	width: 100%;
}


div[data-modal-id="mod1"] .modal-content{
	border-radius: 5px;
}

div[data-modal-id="mod1"] label{
	display: block;
	font-weight: 400;
	margin-bottom: 5px;
}

div[data-modal-id="mod1"] input{
	outline: none;
	width: 100%;
	height: 50px;

	font-family: inherit;
	color: inherit;
	font-size: 1em;
	font-weight: 300;

	border: 1px solid #3498db;
	border-radius: 25px;
	padding: 0px 20px;


	transition: box-shadow 0.25s ease-in-out;
}

div[data-modal-id="mod1"] input:focus{
	box-shadow: 0px 0px 5px 0px #3498db; 
}

div[data-modal-id="mod1"] .modal-body button{
	border-radius: 3px;
}

.dummy-form-wrapper{
	width: 75%;
	margin: 10px auto;
}

.form-item{
	margin-top: 15px;
}




div[data-modal-id="mod2"] .modal-body button{
	margin-top: 20px;
	border-radius: 0;
}




div[data-modal-id="mod3"]{
	background-color: rgba(44, 62, 80, 0.8);
}


div[data-modal-id="mod3"] .modal-content{
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #CCFF00; 
}

div[data-modal-id="mod3"] .modal-heading{
	background-color: #CCFF00;
}

div[data-modal-id="mod3"] .modal-body{
	background-color:#ecf0f1;
	color: #7f8c8d;
}

div[data-modal-id="mod3"] .modal-body p:nth-of-type(2){
	margin-top: 15px;
}

div[data-modal-id="mod3"] .modal-body button{
	height: 40px;
	padding: 0px 10px;
	border-radius: 20px;
}




div[data-modal-id="mod4"] .modal-content {
	/*remove defaults*/
	top:auto;
	left:auto;
	position: static;
	-ms-transform: none;
    -webkit-transform: none;
    	transform: none;

    /*add your own*/
    margin: 100px auto;
}




/* ---------------------------------------------- MEDIA QUERIES ---------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 675px){
	/*need to make the "simple-modals" h1 text responsive*/

	header h1{
		font-size: 3.65em;
		font-size: 14vw;
		text-align: center;
	}

	.content{
		padding: 5px;
		padding-top: 40px;
	}

	div[data-modal-id="mod1"] input{
		height: 40px;
		font-size: 0.9em;

		border-radius: 20px;
		padding: 8px 15px;
	}

	.dummy-form-wrapper{
		width: 80%;
	}

	.form-item{
		margin-top: 12px;
	}
}

@media screen and (max-width: 480px){

	body{
		font-size: 18px;
	}

	header{
		align-items: stretch;
	}

	header h1{
		font-size: 3.5em; /*fallback for viewport width units*/
		font-size: 14vw; /*same as in 660px media query. Here for fallback sake*/
		text-align: center;
	}

	header p{
		font-size: 1.5em;
		text-align: center;	
	}

	header div{
		text-align: center;
	}

	header button{
		padding: 8px 15px;

		font-size: 1em;
		font-weight: 400;
	}

	header button:nth-of-type(1){
		margin-right: 5px;
	}

	code, pre{
		font-size: 16px;
	}

	code{
		padding: 3px 5px;
		border-radius: 5px;
	}

	pre{
		padding: 10px;
	}

	.content{
		padding: 5px;
		padding-top: 30px;
	}


	h2{
		font-size: 1.4em;
	}

	article p{
		line-height: 1.4em;
	}

	section{
		margin-bottom: 30px;
	}


	img{



		width: 100%;
	}

	div[data-modal-id="mod1"]{
		font-size: 0.9em;
	}

	div[data-modal-id="mod1"] input{
		height: 30px;

		font-size: 1em;
		border-radius: 15px;
		padding: 5px 10px;
	}


	.dummy-form-wrapper{
		width: 85%;
	}

	.form-item{
		margin-top: 10px;
	}


	div[data-modal-id="mod3"] .modal-body button{
		height: 30px;
		border-radius: 15px;
	}

}

@media screen and (max-width: 360px){

	header p{
		font-size: 1.3em;
		font-size: 8vw;
	}
	header div{
		display: -webkit-flex;
		display: flex;

		-webkit-flex-direction : column;
				flex-direction : column;

		padding: 0px 10px;
	}

	header button{
		padding: 6px 12px;
		width: 100%;

		font-size: 1em;
	}

	header button:nth-of-type(1){
		margin-bottom: 10px;
	}

		
}






