*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #777;
}

.blue-text{
	color: #3498db;
	font-weight: 400;
}

a{
	text-decoration: none;
}

article a{
	color: #1abc9c;
}

article a:hover{
	font-weight: 400;
	text-decoration: underline;
}

/*OCTICONS*/
@font-face {
  font-family: 'octicons';
  src: url('octicons.eot?#iefix') format('embedded-opentype'),
       url('octicons.woff') format('woff'),
       url('octicons.ttf') format('truetype'),
       url('octicons.svg#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

*/
.octicon, .mega-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mega-octicon { font-size: 32px; }


/* ------------------------------------------------ BUTTONS ------------------------------------------------ */
/*-----------------------------------------------------------------------------------------------------------*/

button{
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    border: 1px solid;
    border-radius: 5px;
    color: inherit;

	font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 300;

    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.example-button{
	padding: 10px 20px;
	background-color: #1abc9c;
	border-color: #1abc9c;
	color: #FFF;
	font-weight: 400;
	text-transform: uppercase;
}

.close-button{
	padding: 4px 6px;
	font-weight: 400;
	color: #fff;
	background-color: #e74c3c;
	border-color: #e74c3c;
}

.close-button:hover{
	background-color: #c0392b;
	border-color: #c0392b;
}

.example-button:hover{
	background-color: #16a085;
	border-color: #16a085;
}



.center{
	text-align: center;
}

.right{
	text-align: right;
}





/* ------------------------------------------------ HEADER ------------------------------------------------ */
/*-----------------------------------------------------------------------------------------------------------*/

header{
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;

	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;

	background-color: #ecf0f1;
}

header h1{
	font-weight: 300;
	font-size: 5em;
	color: #3498db;
}

header p{
	font-size: 1.5em;
	margin-bottom: 40px;
}

header button{
	padding: 8px 22px;

	font-size: 1.3em;
	font-weight: 300;
	text-transform: uppercase;

	background-color: #3498db;
	border-color: #3498db;
	color: #fff;
}

header button .octicon{
	font-size: inherit;
}

header button:nth-of-type(1){
	margin-right: 10px;
}

header button:hover{
	border-color: #34B7DC;
	background-color: #34B7DC;
}





/* ----------------------------------------- CODE AND COD BLOCKS ----------------------------------------- */
/*----------------------------------------------------------------------------------------------------------*/

code, pre{
	font-family: 'Inconsolata', 'Open Sans', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	background-color: #ecf0f1;
	color: #888;
}

code{
	padding: 3px 5px;
	border-radius: 5px;
}

pre code{
	/* use only pre styles for code blocks */
	padding: 0px;
	border-radius: 0px;
	max-width: 100%;
	word-wrap: break-word;
}


pre{
	line-height: 1.1em;
	border-radius: 8px;

	padding: 20px;

	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}






/* --------------------------------------------- MAIN CONTENT --------------------------------------------- */
/*----------------------------------------------------------------------------------------------------------*/


.main-wrapper{
	position: relative;

	/*its top value is applied by JS
	to be equal to height of the header
	which is equal to that of the viewport*/

	/*without this header won't appear collapsing*/
	background-color: #fff;
}

.content{
	max-width: 650px;
	margin: 0px auto;
	padding-top: 50px;
}


h2{
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	color: #3498db;

	margin-bottom: 20px;
}

h4{
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;

	margin-bottom: 15px;
}

article p{
	line-height: 1.5em;
	margin-bottom: 10px;
}

hr{
	font-weight: 300;
	color: #F5F9FA;
}

section{
	margin-bottom: 40px;
}

section p{
	margin-bottom: 20px;
}


footer{
	margin-top: 40px;
	padding: 10px 0px;
	background-color: #ecf0f1;
}

footer p:nth-of-type(1) {
	margin-bottom: 10px;
}

footer a{
	color: inherit;
	transition: color 0.2s ease-in-out;
}

footer a:hover{
	color: #3498db;
}
	





/* ------------------------------------------EXAMPLE MODALS STYLES------------------------------------------ */
/*------------------------------------------------------------------------------------------------------------*/

img{
	width: 100%;
}


div[data-modal-id="mod1"] .modal-content{
	border-radius: 5px;
}

div[data-modal-id="mod1"] label{
	display: block;
	font-weight: 400;
	margin-bottom: 5px;
}

div[data-modal-id="mod1"] input{
	outline: none;
	width: 100%;
	height: 50px;

	font-family: inherit;
	color: inherit;
	font-size: 1em;
	font-weight: 300;

	border: 1px solid #3498db;
	border-radius: 25px;
	padding: 0px 20px;


	transition: box-shadow 0.25s ease-in-out;
}

div[data-modal-id="mod1"] input:focus{
	box-shadow: 0px 0px 5px 0px #3498db; 
}

div[data-modal-id="mod1"] .modal-body button{
	border-radius: 3px;
}

.dummy-form-wrapper{
	width: 75%;
	margin: 10px auto;
}

.form-item{
	margin-top: 15px;
}




div[data-modal-id="mod2"] .modal-body button{
	margin-top: 20px;
	border-radius: 0;
}




div[data-modal-id="mod3"]{
	background-color: rgba(44, 62, 80, 0.8);
}


div[data-modal-id="mod3"] .modal-content{
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #CCFF00; 
}

div[data-modal-id="mod3"] .modal-heading{
	background-color: #CCFF00;
}

div[data-modal-id="mod3"] .modal-body{
	background-color:#ecf0f1;
	color: #7f8c8d;
}

div[data-modal-id="mod3"] .modal-body button{
	height: 40px;
	padding: 0px 10px;
	border-radius: 20px;
}




div[data-modal-id="mod4"] .modal-content {
	/*remove defaults*/
	top:auto;
	left:auto;
	position: static;
	-ms-transform: none;
    -webkit-transform: none;
    	transform: none;

    /*add your own*/
    margin: 100px auto;
}




/* ---------------------------------------------- MEDIA QUERIES ---------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 660px){
	/*need to make the "simple-modals" h1 text responsive*/

	header h1{
		font-size: 3.65em;
		font-size: 14vw;
		text-align: center;
	}

	.content{
		padding: 5px;
		padding-top: 40px;
	}

	div[data-modal-id="mod1"] input{
		height: 40px;
		font-size: 0.9em;

		border-radius: 20px;
		padding: 8px 15px;
	}

	.dummy-form-wrapper{
		width: 80%;
	}

	.form-item{
		margin-top: 12px;
	}
}

@media screen and (max-width: 480px){

	body{
		font-size: 18px;
	}

	header{
		align-items: stretch;
	}

	header h1{
		font-size: 3.5em; /*fallback for viewport width units*/
		font-size: 14vw; /*same as in 660px media query. Here for fallback sake*/
		text-align: center;
	}

	header p{
		font-size: 1.5em;
		text-align: center;	
	}

	header div{
		text-align: center;
	}

	header button{
		padding: 8px 15px;

		font-size: 1em;
		font-weight: 400;
	}

	header button:nth-of-type(1){
		margin-right: 5px;
	}

	code, pre{
		font-size: 16px;
	}

	code{
		padding: 3px 5px;
		border-radius: 5px;
	}

	pre{
		padding: 10px;
	}

	.content{
		padding: 5px;
		padding-top: 30px;
	}


	h2{
		font-size: 1.4em;
	}

	article p{
		line-height: 1.4em;
	}

	section{
		margin-bottom: 30px;
	}


	img{



		width: 100%;
	}

	div[data-modal-id="mod1"]{
		font-size: 0.9em;
	}

	div[data-modal-id="mod1"] input{
		height: 30px;

		font-size: 1em;
		border-radius: 15px;
		padding: 5px 10px;
	}


	.dummy-form-wrapper{
		width: 85%;
	}

	.form-item{
		margin-top: 10px;
	}


	div[data-modal-id="mod3"] .modal-body button{
		height: 30px;
		border-radius: 15px;
	}

}

@media screen and (max-width: 360px){

	header p{
		font-size: 1.3em;
		font-size: 8vw;
	}
	header div{
		display: flex;
		flex-direction : column;

		padding: 0px 10px;
	}

	header button{
		padding: 6px 12px;
		width: 100%;

		font-size: 1em;
	}

	header button:nth-of-type(1){
		margin-bottom: 10px;
	}

		
}


.octicon-alert:before { content: '\f02d'} /*  */
.octicon-alignment-align:before { content: '\f08a'} /*  */
.octicon-alignment-aligned-to:before { content: '\f08e'} /*  */
.octicon-alignment-unalign:before { content: '\f08b'} /*  */
.octicon-arrow-down:before { content: '\f03f'} /*  */
.octicon-arrow-left:before { content: '\f040'} /*  */
.octicon-arrow-right:before { content: '\f03e'} /*  */
.octicon-arrow-small-down:before { content: '\f0a0'} /*  */
.octicon-arrow-small-left:before { content: '\f0a1'} /*  */
.octicon-arrow-small-right:before { content: '\f071'} /*  */
.octicon-arrow-small-up:before { content: '\f09f'} /*  */
.octicon-arrow-up:before { content: '\f03d'} /*  */
.octicon-beer:before { content: '\f069'} /*  */
.octicon-book:before { content: '\f007'} /*  */
.octicon-bookmark:before { content: '\f07b'} /*  */
.octicon-briefcase:before { content: '\f0d3'} /*  */
.octicon-broadcast:before { content: '\f048'} /*  */
.octicon-browser:before { content: '\f0c5'} /*  */
.octicon-bug:before { content: '\f091'} /*  */
.octicon-calendar:before { content: '\f068'} /*  */
.octicon-check:before { content: '\f03a'} /*  */
.octicon-checklist:before { content: '\f076'} /*  */
.octicon-chevron-down:before { content: '\f0a3'} /*  */
.octicon-chevron-left:before { content: '\f0a4'} /*  */
.octicon-chevron-right:before { content: '\f078'} /*  */
.octicon-chevron-up:before { content: '\f0a2'} /*  */
.octicon-circle-slash:before { content: '\f084'} /*  */
.octicon-circuit-board:before { content: '\f0d6'} /*  */
.octicon-clippy:before { content: '\f035'} /*  */
.octicon-clock:before { content: '\f046'} /*  */
.octicon-cloud-download:before { content: '\f00b'} /*  */
.octicon-cloud-upload:before { content: '\f00c'} /*  */
.octicon-code:before { content: '\f05f'} /*  */
.octicon-color-mode:before { content: '\f065'} /*  */
.octicon-comment-add:before,
.octicon-comment:before { content: '\f02b'} /*  */
.octicon-comment-discussion:before { content: '\f04f'} /*  */
.octicon-credit-card:before { content: '\f045'} /*  */
.octicon-dash:before { content: '\f0ca'} /*  */
.octicon-dashboard:before { content: '\f07d'} /*  */
.octicon-database:before { content: '\f096'} /*  */
.octicon-device-camera:before { content: '\f056'} /*  */
.octicon-device-camera-video:before { content: '\f057'} /*  */
.octicon-device-desktop:before { content: '\f27c'} /*  */
.octicon-device-mobile:before { content: '\f038'} /*  */
.octicon-diff:before { content: '\f04d'} /*  */
.octicon-diff-added:before { content: '\f06b'} /*  */
.octicon-diff-ignored:before { content: '\f099'} /*  */
.octicon-diff-modified:before { content: '\f06d'} /*  */
.octicon-diff-removed:before { content: '\f06c'} /*  */
.octicon-diff-renamed:before { content: '\f06e'} /*  */
.octicon-ellipsis:before { content: '\f09a'} /*  */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before { content: '\f04e'} /*  */
.octicon-file-binary:before { content: '\f094'} /*  */
.octicon-file-code:before { content: '\f010'} /*  */
.octicon-file-directory:before { content: '\f016'} /*  */
.octicon-file-media:before { content: '\f012'} /*  */
.octicon-file-pdf:before { content: '\f014'} /*  */
.octicon-file-submodule:before { content: '\f017'} /*  */
.octicon-file-symlink-directory:before { content: '\f0b1'} /*  */
.octicon-file-symlink-file:before { content: '\f0b0'} /*  */
.octicon-file-text:before { content: '\f011'} /*  */
.octicon-file-zip:before { content: '\f013'} /*  */
.octicon-flame:before { content: '\f0d2'} /*  */
.octicon-fold:before { content: '\f0cc'} /*  */
.octicon-gear:before { content: '\f02f'} /*  */
.octicon-gift:before { content: '\f042'} /*  */
.octicon-gist:before { content: '\f00e'} /*  */
.octicon-gist-secret:before { content: '\f08c'} /*  */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before { content: '\f020'} /*  */
.octicon-git-commit:before { content: '\f01f'} /*  */
.octicon-git-compare:before { content: '\f0ac'} /*  */
.octicon-git-merge:before { content: '\f023'} /*  */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before { content: '\f009'} /*  */
.octicon-globe:before { content: '\f0b6'} /*  */
.octicon-graph:before { content: '\f043'} /*  */
.octicon-heart:before { content: '\2665'} /* ♥ */
.octicon-history:before { content: '\f07e'} /*  */
.octicon-home:before { content: '\f08d'} /*  */
.octicon-horizontal-rule:before { content: '\f070'} /*  */
.octicon-hourglass:before { content: '\f09e'} /*  */
.octicon-hubot:before { content: '\f09d'} /*  */
.octicon-inbox:before { content: '\f0cf'} /*  */
.octicon-info:before { content: '\f059'} /*  */
.octicon-issue-closed:before { content: '\f028'} /*  */
.octicon-issue-opened:before { content: '\f026'} /*  */
.octicon-issue-reopened:before { content: '\f027'} /*  */
.octicon-jersey:before { content: '\f019'} /*  */
.octicon-jump-down:before { content: '\f072'} /*  */
.octicon-jump-left:before { content: '\f0a5'} /*  */
.octicon-jump-right:before { content: '\f0a6'} /*  */
.octicon-jump-up:before { content: '\f073'} /*  */
.octicon-key:before { content: '\f049'} /*  */
.octicon-keyboard:before { content: '\f00d'} /*  */
.octicon-law:before { content: '\f0d8'} /*  */
.octicon-light-bulb:before { content: '\f000'} /*  */
.octicon-link:before { content: '\f05c'} /*  */
.octicon-link-external:before { content: '\f07f'} /*  */
.octicon-list-ordered:before { content: '\f062'} /*  */
.octicon-list-unordered:before { content: '\f061'} /*  */
.octicon-location:before { content: '\f060'} /*  */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before { content: '\f06a'} /*  */
.octicon-logo-github:before { content: '\f092'} /*  */
.octicon-mail:before { content: '\f03b'} /*  */
.octicon-mail-read:before { content: '\f03c'} /*  */
.octicon-mail-reply:before { content: '\f051'} /*  */
.octicon-mark-github:before { content: '\f00a'} /*  */
.octicon-markdown:before { content: '\f0c9'} /*  */
.octicon-megaphone:before { content: '\f077'} /*  */
.octicon-mention:before { content: '\f0be'} /*  */
.octicon-microscope:before { content: '\f089'} /*  */
.octicon-milestone:before { content: '\f075'} /*  */
.octicon-mirror-public:before,
.octicon-mirror:before { content: '\f024'} /*  */
.octicon-mortar-board:before { content: '\f0d7'} /*  */
.octicon-move-down:before { content: '\f0a8'} /*  */
.octicon-move-left:before { content: '\f074'} /*  */
.octicon-move-right:before { content: '\f0a9'} /*  */
.octicon-move-up:before { content: '\f0a7'} /*  */
.octicon-mute:before { content: '\f080'} /*  */
.octicon-no-newline:before { content: '\f09c'} /*  */
.octicon-octoface:before { content: '\f008'} /*  */
.octicon-organization:before { content: '\f037'} /*  */
.octicon-package:before { content: '\f0c4'} /*  */
.octicon-paintcan:before { content: '\f0d1'} /*  */
.octicon-pencil:before { content: '\f058'} /*  */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before { content: '\f018'} /*  */
.octicon-pin:before { content: '\f041'} /*  */
.octicon-playback-fast-forward:before { content: '\f0bd'} /*  */
.octicon-playback-pause:before { content: '\f0bb'} /*  */
.octicon-playback-play:before { content: '\f0bf'} /*  */
.octicon-playback-rewind:before { content: '\f0bc'} /*  */
.octicon-plug:before { content: '\f0d4'} /*  */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before { content: '\f05d'} /*  */
.octicon-podium:before { content: '\f0af'} /*  */
.octicon-primitive-dot:before { content: '\f052'} /*  */
.octicon-primitive-square:before { content: '\f053'} /*  */
.octicon-pulse:before { content: '\f085'} /*  */
.octicon-puzzle:before { content: '\f0c0'} /*  */
.octicon-question:before { content: '\f02c'} /*  */
.octicon-quote:before { content: '\f063'} /*  */
.octicon-radio-tower:before { content: '\f030'} /*  */
.octicon-repo-delete:before,
.octicon-repo:before { content: '\f001'} /*  */
.octicon-repo-clone:before { content: '\f04c'} /*  */
.octicon-repo-force-push:before { content: '\f04a'} /*  */
.octicon-gist-fork:before,
.octicon-repo-forked:before { content: '\f002'} /*  */
.octicon-repo-pull:before { content: '\f006'} /*  */
.octicon-repo-push:before { content: '\f005'} /*  */
.octicon-rocket:before { content: '\f033'} /*  */
.octicon-rss:before { content: '\f034'} /*  */
.octicon-ruby:before { content: '\f047'} /*  */
.octicon-screen-full:before { content: '\f066'} /*  */
.octicon-screen-normal:before { content: '\f067'} /*  */
.octicon-search-save:before,
.octicon-search:before { content: '\f02e'} /*  */
.octicon-server:before { content: '\f097'} /*  */
.octicon-settings:before { content: '\f07c'} /*  */
.octicon-log-in:before,
.octicon-sign-in:before { content: '\f036'} /*  */
.octicon-log-out:before,
.octicon-sign-out:before { content: '\f032'} /*  */
.octicon-split:before { content: '\f0c6'} /*  */
.octicon-squirrel:before { content: '\f0b2'} /*  */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before { content: '\f02a'} /*  */
.octicon-steps:before { content: '\f0c7'} /*  */
.octicon-stop:before { content: '\f08f'} /*  */
.octicon-repo-sync:before,
.octicon-sync:before { content: '\f087'} /*  */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before { content: '\f015'} /*  */
.octicon-telescope:before { content: '\f088'} /*  */
.octicon-terminal:before { content: '\f0c8'} /*  */
.octicon-three-bars:before { content: '\f05e'} /*  */
.octicon-thumbsdown:before { content: '\f0db'} /*  */
.octicon-thumbsup:before { content: '\f0da'} /*  */
.octicon-tools:before { content: '\f031'} /*  */
.octicon-trashcan:before { content: '\f0d0'} /*  */
.octicon-triangle-down:before { content: '\f05b'} /*  */
.octicon-triangle-left:before { content: '\f044'} /*  */
.octicon-triangle-right:before { content: '\f05a'} /*  */
.octicon-triangle-up:before { content: '\f0aa'} /*  */
.octicon-unfold:before { content: '\f039'} /*  */
.octicon-unmute:before { content: '\f0ba'} /*  */
.octicon-versions:before { content: '\f064'} /*  */
.octicon-remove-close:before,
.octicon-x:before { content: '\f081'} /*  */
.octicon-zap:before { content: '\26A1'} /* ⚡ */